<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="chart1"></div>
    <script>
        var graphs1 = {{ graphJSON1 | safe }};
        Plotly.newPlot('chart1', graphs1, {});
    </script>
    <div id="chart2"></div>
    <script>
        var graphs2 = {{ graphJSON2 | safe }};
        var layout = {
            barmode: 'group',
            showlegend: true,
            legend: {
                x: 1,
                y: 1
            }
        };
        Plotly.newPlot('chart2', graphs2, layout);
    </script>
</body>
</html>
